<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	    xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="
       		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd
           	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
           	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<context:annotation-config />
	<context:property-placeholder location="WEB-INF/ingest.properties" />

	<beans:bean id="userDetailsMapper.custom" class="org.OpenGeoPortal.Security.SimpleLdapUserDetailsMapper" >
		<beans:property name="admins" value="${admins}" />
	</beans:bean>
 
<beans:bean id="formReference" class="org.OpenGeoPortal.Ingest.Mvc.FormReferenceImpl" />

<beans:bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
  <beans:property name="corePoolSize" value="5" />
  <beans:property name="maxPoolSize" value="10" />
  <beans:property name="queueCapacity" value="25" />
</beans:bean>

<beans:bean id="ingestStatusManager" class="org.OpenGeoPortal.Ingest.GenericIngestStatusManager" />

<beans:bean id="wmsCapabilitiesIngestJobSubmitter" class="org.OpenGeoPortal.Ingest.WMSCapabilitiesIngestSubmitterImpl" >
    	<beans:property name="ingestStatusManager" ref="ingestStatusManager"/>
    	<beans:property name="asyncTaskExecutor" ref="taskExecutor"/>
</beans:bean>

<beans:bean id="uploadMetadataJobSubmitter" class="org.OpenGeoPortal.Ingest.BasicMetadataUploadSubmitter" >
    	<beans:property name="ingestStatusManager" ref="ingestStatusManager"/>
    	<beans:property name="asyncTaskExecutor" ref="taskExecutor"/>
</beans:bean>

<beans:bean id="remoteSolrJobSubmitter" class="org.OpenGeoPortal.Ingest.BasicRemoteSolrIngestSubmitter" >
    	<beans:property name="ingestStatusManager" ref="ingestStatusManager"/>
    	<beans:property name="asyncTaskExecutor" ref="taskExecutor"/>
</beans:bean>

<beans:bean id="remoteSolrByIdJobSubmitter" class="org.OpenGeoPortal.Ingest.RemoteSolrIngestByIdSubmitterImpl" >
    	<beans:property name="ingestStatusManager" ref="ingestStatusManager"/>
    	<beans:property name="asyncTaskExecutor" ref="taskExecutor"/>
</beans:bean>

<beans:bean id="bartonJobSubmitter" class="org.OpenGeoPortal.Ingest.BartonIngestSubmitter" >
    	<beans:property name="ingestStatusManager" ref="ingestStatusManager"/>
    	<beans:property name="asyncTaskExecutor" ref="taskExecutor"/>
</beans:bean>

<beans:bean id="preprocessorJobSubmitter" class="org.OpenGeoPortal.Ingest.MitMetadataPreprocessorSubmitter" >
    	<beans:property name="ingestStatusManager" ref="ingestStatusManager"/>
    	<beans:property name="asyncTaskExecutor" ref="taskExecutor"/>
</beans:bean>

<beans:bean id="directToSolrJobSubmitter" class="org.OpenGeoPortal.Ingest.DirectToSolrSubmitterImpl" >
    	<beans:property name="ingestStatusManager" ref="ingestStatusManager"/>
    	<beans:property name="asyncTaskExecutor" ref="taskExecutor"/>
</beans:bean>

 <beans:bean id="solrIngest.ows" class="org.OpenGeoPortal.Ingest.OwsSolrIngest">
    	<beans:property name="solrClient" ref="solrClient.solrJ"/>
    	<beans:property name="ingestProperties" ref="ingestProperties.propFile"/>
  </beans:bean>
  
   <beans:bean id="solrIngest.paper" class="org.OpenGeoPortal.Ingest.PaperSolrIngest">
    	<beans:property name="solrClient" ref="solrClient.solrJ"/>
  </beans:bean>
  
  <beans:bean id="solrClient.solrJ" class="org.OpenGeoPortal.Solr.SolrJClient">
  		<beans:constructor-arg type="java.lang.String" value="${local.solrUrl}"/>
  </beans:bean>
  <beans:bean id="geoserverIngest" class="org.OpenGeoPortal.Ingest.SimpleGeoServerIngest">
    	<beans:property name="ingestProperties" ref="ingestProperties.propFile"/>
  </beans:bean>
    <beans:bean id="metadataConverter.flexible" class="org.OpenGeoPortal.Ingest.Metadata.FlexibleMetadataConverter">
    	<beans:property name="ingestProperties" ref="ingestProperties.propFile"/>
    	<beans:property name="metadataParseMethodProvider" ref="metadataParseMethodProvider.xml"/>
  </beans:bean>
    <beans:bean id="metadataParseMethodProvider.xml" class="org.OpenGeoPortal.Ingest.Metadata.XmlMetadataParseMethodProvider">
  </beans:bean>
    <beans:bean id="parseMethod.FGDC" class="org.OpenGeoPortal.Ingest.Metadata.FgdcParseMethod">
    	<beans:property name="locationResolver" ref="locationResolver.Fgdc" />
  </beans:bean>
    <beans:bean id="parseMethod.ISO_19139" class="org.OpenGeoPortal.Ingest.Metadata.Iso19139ParseMethod">
        	<beans:property name="locationResolver" ref="locationResolver.Iso" />
  </beans:bean>
   <beans:bean id="extraTasks" class="org.OpenGeoPortal.Ingest.DatabaseTasks">
  </beans:bean>
   <beans:bean id="ingestProperties.propFile" class="org.OpenGeoPortal.Ingest.PropertyFileIngestProperties">
	<beans:property name="resource" value="WEB-INF/ingest.properties"/>
  </beans:bean>
  <beans:bean id="metadataAdjustProperties.propFile" class="org.OpenGeoPortal.Ingest.PropertyFileMetadataAdjusterProperties">
	<beans:property name="resource" value="WEB-INF/metadataAdjust.properties"/>
  </beans:bean>
  
  <beans:bean id="wmsCapabilitiesIngestJob" class="org.OpenGeoPortal.Ingest.WMSCapabilitiesIngestJobImpl" scope="prototype">
  	  	<beans:property name="ingestStatusManager" ref="ingestStatusManager"/>
  	<beans:property name="metadataConverter" ref="metadataConverter.flexible"/>
  	<beans:property name="solrIngest" ref="solrIngest.ows"/>
  	</beans:bean>
  <beans:bean id="uploadMetadataJob" class="org.OpenGeoPortal.Ingest.BasicUploadMetadataJob" scope="prototype">
  	<beans:property name="ingestStatusManager" ref="ingestStatusManager"/>
  	<beans:property name="metadataConverter" ref="metadataConverter.flexible"/>
  	<beans:property name="mapServerIngest" ref="geoserverIngest"/>
  	<beans:property name="solrIngest" ref="solrIngest.ows"/>
  	<beans:property name="extraTasks" ref="extraTasks"/>
  	<beans:property name="ingestProperties" ref="ingestProperties.propFile"/>
  </beans:bean>
  <beans:bean id="remoteSolrIngestJob" class="org.OpenGeoPortal.Ingest.BasicRemoteSolrIngestJob" scope="prototype">
  	<beans:property name="ingestStatusManager" ref="ingestStatusManager"/>
  	<beans:property name="solrClient" ref="solrClient.solrJ"/>
  </beans:bean> 
   <beans:bean id="remoteSolrIngestByIdJob" class="org.OpenGeoPortal.Ingest.RemoteSolrIngestByIdJobImpl" scope="prototype">
  	<beans:property name="ingestStatusManager" ref="ingestStatusManager"/>
  	<beans:property name="solrClient" ref="solrClient.solrJ"/>
  </beans:bean>
   <beans:bean id="bartonIngestJob" class="org.OpenGeoPortal.Ingest.BartonIngestJob" scope="prototype">
   	<beans:property name="solrIngest" ref="solrIngest.paper" />
  	<beans:property name="ingestStatusManager" ref="ingestStatusManager"/>
  	<beans:property name="solrClient" ref="solrClient.solrJ"/>
  </beans:bean>
    <beans:bean id="metadataPreprocessorJob.mit" class="org.OpenGeoPortal.Ingest.MitMetadataPreprocessorJob" scope="prototype">
  	<beans:property name="ingestStatusManager" ref="ingestStatusManager"/>
  	<beans:property name="metadataConverter" ref="metadataConverter.flexible"/>
  	<beans:property name="solrIngest" ref="solrIngest.ows"/>
  	 <beans:property name="ingestProperties" ref="ingestProperties.propFile"/>
  </beans:bean>
      <beans:bean id="directToSolrJob" class="org.OpenGeoPortal.Ingest.DirectToSolrJobImpl" scope="prototype">
  	<beans:property name="ingestStatusManager" ref="ingestStatusManager"/>
  	<beans:property name="solrIngest" ref="solrIngest.ows"/>
  </beans:bean>
  <beans:bean id="locationResolver.Fgdc" class="org.OpenGeoPortal.Ingest.Metadata.FgdcLocationResolver"></beans:bean>
  <beans:bean id="locationResolver.Iso" class="org.OpenGeoPortal.Ingest.Metadata.Iso19139LocationResolver"></beans:bean>
  
  <beans:bean id="placeKeywordThesaurusResolver" class="org.OpenGeoPortal.Keyword.PlaceKeywordThesaurusResolverImpl" />
  <beans:bean id="themeKeywordThesaurusResolver" class="org.OpenGeoPortal.Keyword.ThemeKeywordThesaurusResolverImpl" />

	<beans:bean id="FgdcThemeKeywordThesaurus" class="org.OpenGeoPortal.Keyword.KeywordThesauri.FgdcThemeKeywordThesaurus" />
	<beans:bean id="IsoThemeKeywordThesaurus" class="org.OpenGeoPortal.Keyword.KeywordThesauri.IsoThemeKeywordThesaurus" >
		        <beans:constructor-arg type="org.springframework.core.io.Resource" value="WEB-INF/isoTerms.txt"/>
		  <!--<beans:property name="controlledVocab" value="WEB-INF/isoTerms.txt"/> -->
	</beans:bean>
	<beans:bean id="GnisPlaceKeywordThesaurus" class="org.OpenGeoPortal.Keyword.KeywordThesauri.GnisPlaceKeywordThesaurus" />
	<beans:bean id="GnsThemeKeywordThesaurus" class="org.OpenGeoPortal.Keyword.KeywordThesauri.GnsPlaceKeywordThesaurus" />
	<beans:bean id="LcshThemeKeywordThesaurus" class="org.OpenGeoPortal.Keyword.KeywordThesauri.LcshThemeKeywordThesaurus" />
	<beans:bean id="LcnhPlaceKeywordThesaurus" class="org.OpenGeoPortal.Keyword.KeywordThesauri.LcnhPlaceKeywordThesaurus" />

</beans:beans>
